# /*
# __author__ = "Srikanth Kodali - skkodali@"
# */

[organization]
name = EstrellaWinds
plant-location = xandar

[models]
model-1 = generator-model
model-2 = hvac-model

[generator-model-attributes]
name = serial
default-value = 1234
data-type = string

[generator-model-measurements-names]
metric-1-name = watts_1m
metric-2-name = temperature
metric-3-name = rpm

[generator-model-measurements-units]
unit-1-name = watts/m
unit-2-name = Celsius
unit-3-name = rpm

[generator-model-measurements-data-types]
datatype-1-name = DOUBLE
datatype-2-name = DOUBLE
datatype-3-name = DOUBLE

[hvac-model-attributes]
name = serial
default-value = 1234
data-type = string

[hvac-model-measurements-names]
metric-1-name = watts_1m
metric-2-name = temperature
metric-3-name = rpm

[hvac-model-measurements-units]
unit-1-name = watts/m
unit-2-name = Celsius
unit-3-name = rpm

[hvac-model-measurements-data-types]
datatype-1-name = DOUBLE
datatype-2-name = DOUBLE
datatype-3-name = DOUBLE

[assets]
number-of-assets-per-model = 100

[generator-model-asset-alias-mappings]
watts_1m = Power
temperature = Temperature
rpm = Rpm

[hvac-model-asset-alias-mappings]
watts_1m = Power
temperature = Temperature
rpm = Rpm