# /*
# __author__ = "Srikanth Kodali - skkodali@"
# */

[mqtt-settings]
# Assuming your iot certs are in the ~/iot_certs/ folder as mentioned in the blog post. Change it accordingly.
CERTS_PATH = ~/iot_certs
host = <>
port = 8883
root_ca_file = root.ca.pem
group_root_ca_file = <>.crt
certificate_file = <>.cert.pem
privatekey_file = <>.private.key
clientId = <>
thingName = <>
topic = /send/to/sitewise/edge

[organization]
name = EstrellaWinds
plant-location = xandar

[equipments]
model-1 = generator-model
model-2 = hvac-model

[generator-model-attributes]
name = serial
default-value = 1234
data-type = string

[generator-model-measurements-names]
metric-1-name = watts_1m
metric-2-name = temperature
metric-3-name = rpm

[generator-model-measurements-units]
unit-1-name = watts/m
unit-2-name = Celsius
unit-3-name = rpm

[generator-model-measurements-data-types]
datatype-1-name = DOUBLE
datatype-2-name = DOUBLE
datatype-3-name = DOUBLE

[hvac-model-attributes]
name = serial
default-value = 1234
data-type = string

[hvac-model-measurements-names]
metric-1-name = watts_1m
metric-2-name = temperature
metric-3-name = rpm

[hvac-model-measurements-units]
unit-1-name = watts/m
unit-2-name = Celsius
unit-3-name = rpm

[hvac-model-measurements-data-types]
datatype-1-name = DOUBLE
datatype-2-name = DOUBLE
datatype-3-name = DOUBLE

[assets]
number-of-assets-per-model = 240

[generator-model-asset-alias-mappings]
watts_1m = Power
temperature = Temperature
rpm = Rpm

[hvac-model-asset-alias-mappings]
watts_1m = Power
temperature = Temperature
rpm = Rpm