# /*
# __author__ = "Srikanth Kodali - skkodali@"
# */

[mqtt-settings]
CERTS_PATH = /home/ubuntu/iot_certs
host = 172.31.89.146
port = 8883
root_ca_file = root.ca.pem
group_root_ca_file = 39408ebe-c8e4-4c9a-94d8-e180458a9881_CA_9d32335a-405d-4f90-bbbb-3ff892e27024.crt
certificate_file = 7886c128ea.cert.pem
privatekey_file = 7886c128ea.private.key
clientId = MQTT_Publisher_Thing
thingName = MQTT_Publisher_Thing
topic = /send/to/sitewise/edge

[organization]
name = EstrellaWinds
plant-location = xandar

[equipments]
model-1 = generator-model
model-2 = hvac-model

[generator-model-attributes]
name = serial
default-value = 1234
data-type = string

[generator-model-measurements-names]
metric-1-name = watts_1m
metric-2-name = temperature
metric-3-name = rpm

[generator-model-measurements-units]
unit-1-name = watts/m
unit-2-name = Celsius
unit-3-name = rpm

[generator-model-measurements-data-types]
datatype-1-name = DOUBLE
datatype-2-name = DOUBLE
datatype-3-name = DOUBLE

[hvac-model-attributes]
name = serial
default-value = 1234
data-type = string

[hvac-model-measurements-names]
metric-1-name = watts_1m
metric-2-name = temperature
metric-3-name = rpm

[hvac-model-measurements-units]
unit-1-name = watts/m
unit-2-name = Celsius
unit-3-name = rpm

[hvac-model-measurements-data-types]
datatype-1-name = DOUBLE
datatype-2-name = DOUBLE
datatype-3-name = DOUBLE

[assets]
number-of-assets-per-model = 240

[generator-model-asset-alias-mappings]
watts_1m = Power
temperature = Temperature
rpm = Rpm

[hvac-model-asset-alias-mappings]
watts_1m = Power
temperature = Temperature
rpm = Rpm